.contents
  
  .contents__chat-left-side
    =render 'shared/side_bar'
  
  .contents__chat-right-side
    
    .contents__chat-right-side__top
      .contents__chat-right-side__top__left-box
        .contents__chat-right-side__top__left-box__current-group
          test-group
        .contents__chat-right-side__top__left-box__member-list
          %ul Member ：
          %li.contents__chat-right-side__top__left-box__member-list__member 
          aaa
          %li.contents__chat-right-side__top__left-box__member-list__member 
          test-user
      .contents__chat-right-side__top__edit-btn
        Edit
  
    .contents__chat-right-side__messages
      = render @messages
    
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'